<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>806192570947-kpctn3f5hbm3239ptiumgstcf0j2utt9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.806192570947-kpctn3f5hbm3239ptiumgstcf0j2utt9</string>
	<key>API_KEY</key>
	<string>AIzaSyAkYw43Jkmk-WpqqTl34CdqNPoi4oMgJi8</string>
	<key>GCM_SENDER_ID</key>
	<string>806192570947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gondnetom.checkschool</string>
	<key>PROJECT_ID</key>
	<string>checkschool-96cc5</string>
	<key>STORAGE_BUCKET</key>
	<string>checkschool-96cc5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:806192570947:ios:7d5749ac51a51b37816af6</string>
</dict>
</plist>